.dedication {
    text-align: center; // Center align the text
    font-style: italic; // Apply italics to the text
  
    p {
      margin-block-start: 0.5em; // Adjust the top margin
      margin-block-end: 0.5em;   // Adjust the bottom margin
      // Keep other styles here if needed
    }
  
  }
  